<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('PORT') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.SDS011.port">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('REFRESH') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.SDS011.refresh">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('SHOWAQI') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.SDS011.showaqi">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('GRAPTHWIDTH') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.SDS011.graphwidth">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('GRAPHHEIGHT') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.SDS011.graphheight">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('GRAPHDOTS') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.SDS011.graphdots">
        </div>
    </div>

</form>
